.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 3px 5px -3px rgba(0,0,0,.3);
    box-shadow: 0 3px 5px -3px rgba(0,0,0,.3);
    height: 41px;
    background-color: #37b4be;
}

.logo-link {
    height: 41px;
    display: inline-block;
}

.logo {
    margin-left: 20px;
    position: relative;
    top: 8px;
}